body{
    background: linear-gradient( 91.9deg, rgba(75,207,250,1) 6.3%, rgba(25,159,249,1) 98.9% );
    font-family: "Quicksand", sans-serif;
    -webkit-font-smoothing: antialiased;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.container{
  width: 700px;
  height: 800px;
  margin-bottom: -20px;
  background-color: rgba(52, 61, 70, 0.6);
  box-shadow: 0 20px 20px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin: 20px auto;
  color: #c0c5ce;
  display: flex;
  justify-content: center;
}


.main-section{
  flex-direction: column;
}

#city-name{
  margin-bottom: -5px;
  padding-top: 10px;
}


.icon-desc{
  display: flex;
  flex-direction: column;
}


#icon {
  height: 200px;
  width: 200px;
  filter: invert(91%) sepia(10%) saturate(189%) hue-rotate(180deg) brightness(86%) contrast(90%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#search-text {
  height:30px;
  width: 250px;
  border-radius: 5px;
  border-style:none;
  outline:none;
  text-align:center;
  margin-top: 50px;
}

#city-name{
  margin-top: 2px;
  font-size: 50px;
  font-weight: 400;  
}

#description{
  font-size: 30px;
  font-weight: 400; 
  text-align:center;
}

.temps{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#temp{
  font-size: 150px;
  font-weight: 300;
}

.temp-max-min{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 300;
  padding-left: 50px;
  padding-top: 40px;
}

#temp-max{
  margin-bottom: 2px;
}

#temp-min{
  border-top: 2px solid #c0c5ce;
}

.forecast-days{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;  
}


.footer{
  color: #c0c5ce;  
  background-color: rgba(52, 61, 70, 0.6);
  box-shadow: 0 20px 20px 0px rgba(0,0,0,0.3);
  margin-top: 95px;
}

a, a:hover, a:focus {
  color: #c0c5ce; 
}


@media screen and (max-width: 1200px) {
  .container {
    width: 350px;
    height: auto;
  }
  .forecast-days{
    margin-left: 125px;
    flex-direction: column;
    font-size: 40px;
    justify-content: center;  
  }
  .icon-desc{
  padding-left: 10px;
  }
  #icon{
    height: 150px;
    width: 150px;
  }
  #city-name{
    font-size: 30px;
  }
}
